<!DOCTYPE html>
<html lang="en">
<head>
    <title>Code Editor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.32.3/ace.js"></script>
    <link rel="stylesheet" href="/static/ace-builds-master/ace-builds-master/css/ace.css">
    <link rel="stylesheet" href="https://unpkg.com/ace-css/css/ace.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.32.3/ace.min.js"></script>
    <style type="text/css" media="screen">
        #editor-container {
            display: flex;
            flex-direction: column;
            align-items: center; 
            justify-content: center;
            height: 100vh;
        }
        #header-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.705); 
            color: white; 
            width: 820px; 
            margin-bottom: 10px; 
            margin: 5px;
        }

        #languageSelect {
            margin-right: 30px;
            color: white; 
            background-color: rgb(234, 144, 17); 
            border: 1px solid white; 
        }

        #runButton {
            margin-top: 10px;
            color: white; 
            background-color: orange; 
            border: none; 
            padding: 5px 10px; 
            cursor: pointer; 
        }

        #editor {
            width: 820px;
            flex: 1;
        }

        #output {
            width: 820px; 
            height: 100px;
            margin-top: 10px;
            border: 1px solid lightcoral; 
            /* background-color: #f4e8d0; */
            /* color: #3d2c1a;  */
        }
        #input {
            width: 820px;
            height: 100px;
            margin-top: 10px;
            border: 1px solid lightcoral;
            display: none;
        }
    </style>
</head>
<body>

<form id="codeForm" onsubmit="submitForm(); return false;" method="post">
    <div id="editor-container">
        <div id="header-bar">
            <select id="languageSelect" onchange="changeLanguage()">
                <option value="java">Java</option>
                <option value="python">Python</option>
                <option value="cpp">C++</option>
            </select>
            <button type="button" class="btn btn-info" onclick="toggleStdin()" style="background-color: rgba(246, 129, 33, 1);">
            <span id="stdinButtonText">Stdin</span>
        </button>

            <select id="themeSelect" onchange="changeTheme()">
                <option value="monokai">Monokai</option>
                <option value="github">Github</option>
                <option value="solarized_dark">Solarized Dark</option>
            </select>

            <button type="button" class="btn btn-success" onclick="runCode()" style="background-color: rgba(246, 129, 33, 1);">
                <span id="buttonText">Run Code </span>
                <span id="loading" class="spinner-border spinner-border-sm text-light" role="status" style="display: none;">
                    <span class="visually-hidden">Loading...</span>
                </span>

            </button>
        </div>

        <div id="editor" class=" ace_editor ace_hidpi ace-monokai ace_dark"></div>

        

        <textarea id="input" name="input" placeholder="Input" rows="4"></textarea>
        <textarea id="output" name="output" placeholder="Output" rows="4" readonly></textarea>
    </div>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.9.0/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.32.3/ext-language_tools.js"></script>
<script src="/static/ace-builds-master/ace-builds-master/src-min/ext-error_marker.js"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/java");

    editor.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: true
        
    });

    var stdinVisible = false;

    function toggleStdin() {
        var inputTextArea = document.getElementById('input');
        stdinVisible = !stdinVisible;
        
        if (stdinVisible) {
            inputTextArea.style.display = 'block';
            document.getElementById('stdinButtonText').innerText = 'Close Stdin';
        } else {
            inputTextArea.style.display = 'none';
            document.getElementById('stdinButtonText').innerText = 'Stdin';
        }
    }


    function setDefaultCode(language) {
        var defaultCode = '';

        switch (language) {
            case 'java':
                editor.session.setMode("ace/mode/java");
                defaultCode = 'import java.util.*; \nimport java.util.*; \nimport java.util.*; \n\nclass StudySync {\n    public static void main(String[] args) throws java.lang.Exception {\n\n         // Write your Java code here...     \n\n        System.out.println("Hello, World!");\n    }\n}';
                break;
            case 'python':
                editor.session.setMode("ace/mode/python");
                defaultCode = 'print("Hello world")';
                break;
            case 'cpp':
                editor.session.setMode("ace/mode/c_cpp");
                defaultCode = '#include <iostream>\nusing namespace std;\n\nint main() {\n\n    // Write C++ code here\n\n    cout << "Hello world!";\n\n    return 0;\n}';
                break;
        }

        editor.setValue(defaultCode);
    }

    function changeLanguage() {
        var languageSelect = document.getElementById('languageSelect');
        setDefaultCode(languageSelect.value);
    }

    function runCode() {
        var code = editor.getValue();
        var input_data = document.getElementById('input').value;
        var outputTextArea = document.getElementById('output');



        var languageSelect = document.getElementById('languageSelect');
        var selectedLanguage = languageSelect.value;

        var formData = new FormData(document.getElementById('codeForm'));
        formData.delete('themeSelect');


        try {
            var result = executeCode(code, input_data, selectedLanguage);
            outputTextArea.value = result;
        } catch (error) {
            outputTextArea.value = 'Error: ' + error.message;
        }
    }

    function changeTheme() {
        var themeSelect = document.getElementById('themeSelect');
        var selectedTheme = themeSelect.value;

        editor.setTheme("ace/theme/" + selectedTheme);
    }
    function addAnnotation(location) {
        editor.getSession().setAnnotations([{
            row: location.start.line - 1, 
            column: location.start.column,
            text: 'Syntax Error',
            type: 'error'
        }]);
        
        
        editor.container.querySelector('.ace_gutter-cell.ace_error > .ace_gutter-layer').style.backgroundImage = "url('data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"12\" height=\"12\" fill=\"%23f00\"><text x=\"0\" y=\"11\" font-size=\"12\" font-family=\"Arial\" dy=\"-.25em\">✖</text></svg>')";
        editor.container.querySelector('.ace_gutter-cell.ace_error > .ace_gutter-layer').style.backgroundSize = "12px 12px";
        editor.container.querySelector('.ace_gutter-cell.ace_error > .ace_gutter-layer').style.backgroundRepeat = "no-repeat";
    }

    function clearAnnotations() {
        editor.getSession().clearAnnotations();
    }

    setDefaultCode('java');
</script>



<script>
    function showLoading() {
        document.getElementById('buttonText').style.display = 'none';
        document.getElementById('loading').style.display = 'inline-block';
    }

    function hideLoading() {
        document.getElementById('loading').style.display = 'none';
        document.getElementById('buttonText').style.display = 'inline-block';
    }

    async function runCode() {
    showLoading();

    var code = editor.getValue();
    var input_data = document.getElementById('input').value;
    var languageSelect = document.getElementById('languageSelect');


    try {
        const response = await fetch('/compiler', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'),
            },
            body: JSON.stringify({
                code,
                language: languageSelect.value,
                input_data,
            }),
        });

        if (response.ok) {
            const resultData = await response.json();

            if (resultData.error) {
                document.getElementById('output').style.color = 'red';
                document.getElementById('output').value = 'Error: ' + resultData.error;
            } else {
                console.log('Result:', resultData.result);
                document.getElementById('output').style.color = 'green';
                document.getElementById('output').value = resultData.result;
            }
        } else {
            document.getElementById('output').value = 'Error: Unable to execute code.';
        }
    } catch (error) {
        console.error('Error:', error.message);
        document.getElementById('output').value = 'Error: ' + error.message;
    } finally {
        hideLoading();
    }

    return false;
}

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

</script>

</body>
</html>