{% extends "base/base.html" %}
{% load static %}
{% block content %}

<div class="template-body">
    <div class="grid-view-1">
        <div class="page-navs">
            <a>
                <img src="{% static 'images/icons/question.png' %}" alt="">
                Ask Question
            </a>
            <br class="space">
            <a>
                <img src="{% static 'images/icons/home.png' %}" alt="">
                Home
            </a>
            <a>
                <img src="{% static 'images/icons/questions.png' %}" alt="">
                Questions
            </a>
            <br class="space">
            <a>
                <img src="{% static 'images/icons/users.png' %}" alt="">
                Users
            </a>
        </div>
    </div>
    <div class="grid-view-2">
        <div class="searchbar-div">
            <input type="search" id="searchquestion" placeholder="Search..." onkeyup="search_course()">
        </div>
        <div class="content-div">
            <div class="analysis">
                <p>Total questions</p>
                <div class="ques-navs">
                    <ul>
                        <li>All</li>
                        <li>Unanswered</li>
                        <li>Answered</li>
                    </ul>
                </div>
            </div>
            <div class="content">
                <!-- dynamic data -->
                <div class="question-card">
                    <div class="question-card-left">
                        <p>0 votes</p>
                        <p>0 Answers</p>
                        <p>0 Views</p>
                    </div>
                    <div class="question-card-right">
                        <h4 class="ques-title searchdata">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, eaque!</h4>
                        <p class="description searchdata">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                            Dolor eveniet deserunt porro accusantium ea obcaecati quos sed facilis harum. Excepturi.</p>
                        <div class="tags">
                            <a>HTML</a>
                            <a>JavaScript</a>
                            <a>CSS</a>
                        </div>
                        <a class="asked-by">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRypgMMZNtrG9MPif00Vr2YHisnxeZjZrUrWA&usqp=CAU" alt="">
                            <span>Asked by: Kul Deep Varma</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-view-3">Advertisements</div>
</div>

<style>
    .template-body{
        height: 100%;
        margin-top: 72px;
        display: grid;
        grid-template-columns: 250px auto 250px;
    }
    .grid-view-1{
        border-right: 1px solid rgb(29,40,40);
    }
    .grid-view-3{
        border-left: 1px solid rgb(29,40,40);
    }

    /* left side */
    .page-navs{
        display: flex;
        flex-direction: column;
        padding: 20px 30px;
        padding-top: 50px;
    }
    .space{
        height: 40px;
    }
    .page-navs a img{
        width: 25px;
        height: 25px;
    }
    .page-navs a{
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 10px 0px;
    }

    /* middle side */
    .grid-view-2{
        overflow-y: auto;
    }
    .searchbar-div{
        padding: 10px;
    }
    .searchbar-div input{
        display: block;
        margin: 0px auto;
        height: 4rem;
        padding: 10px 15px;
        width: 60%;
        color: white;
        background-color: #1f1f1f;
    }
    .searchbar-div input:focus{
        color: white;
    }
    .analysis{
        padding: 20px 30px;
        display: grid;
        grid-template-columns: 25% 75%;
    }
    .ques-navs ul{
        list-style: none;
        display: flex;
        gap: 20px;
        float: right;
    }
    .ques-navs ul li{
        cursor: pointer;
    }
    .ques-navs ul li:hover{
        color: darkorange;
    }

    .content{
        border-top: 1px solid rgb(29,40,40);
        padding: 20px 50px;
    }
    .question-card{
        padding: 10px 20px;
        border: 1px solid gray;
        border-left: none;
        border-right: none;
        display: grid;
        grid-template-columns: 15% 85%;
    }
    .question-card-left{
        text-align: right;
        padding-right: 20px;
    }
    .question-card-right h4, .description{
        color: white;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .question-card-right h4{
        color: darkorange;
    }
    .tags{
        display: inline;
    }
    .tags a{
        border: none;
        background-color: #31220f;
        padding: 5px 10px;
        border-radius: 10px;
        color: darkorange;
    }
    .asked-by{
        display: flex;
        align-items: center;
        float: right;
        gap: 3px;
    }
    .asked-by img{
        border-radius: 50%;
        height: 15px;
        width: 15px;
    }
    .asked-by span{
        padding-top: 1px;
    }

    /* right side */
    .grid-view-3{
        padding: 30px 20px;
        padding-top: 40px;
    }


    /* scroller */
    div ::-webkit-scrollbar {
        width: 7px;
    }
    /* Track */
    div ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #b6b6b6; 
        margin: 10% 0%;
    }
    /* Handle */
    div ::-webkit-scrollbar-thumb {
        background: rgba(246,129,33,255); 
    }
    /* Handle on hover */
    div ::-webkit-scrollbar-thumb:hover {
        background: rgba(246,129,33,255); 
    }
</style>

<!-- search questions -->
<script>
    function search_course() { 
        let input = document.getElementById('searchquestion').value 
        input=input.toUpperCase(); 
        let x = document.getElementsByClassName('question-card'); 
            
        for (i = 0; i < x.length; i++) {  
            const card=x[i];
            const datatosearch=card.getElementsByClassName('searchdata');
            for(var j=0; j<datatosearch.length; j++){
                if (!datatosearch[i].innerHTML.toUpperCase().includes(input)) { 
                    card.style.display="none"; 
                } 
                else { 
                    card.style.display="grid";                  
                } 
            }
        } 
    } 
</script>

{% endblock content %}