<center>
  <table style="margin-top: 24px; width: 570px; background-color: #fff; color: #424242; text-align: left; border: 1px solid #e0e0e0; border-radius: 8px; border-spacing: 0px; overflow: hidden;">
    <tbody>
      <tr style="line-height: 48px;">
        <td>
          <div style="text-align: center;">
            <a style="text-decoration: none; display: inline-block;">
              <img src="https://res.cloudinary.com/daolwstwj/image/upload/v1700237801/ysscl7tsi6d9mmo22ico.png" style="margin: 16px; width: 100px; height: 30px;">
            </a>
          </div>
        </td>
      </tr>
      <tr>
        <td style="padding: 0 24px 30px;">
          <div style="text-align: center;">
            <h1 style="font-family: 'Google Sans', Roboto, RobotoDraft, Helvetica, Arial, sans-serif; font-weight: 500;">Confirm your mail</h1>
          </div>
          Dear <b style="font-weight: 500;">{{ username }}</b>,
          <br><br>
          Welcome to StudySync, your dedicated platform for seamless and efficient learning experiences. We appreciate your commitment to education and are thrilled to have you on board. To ensure the security of your account and access all the features StudySync has to offer, we kindly ask you to complete the email verification process.
          <br><br>
          Please click on the verify email to verify your email address and activate your StudySync account:
          <br><br>
          <br>
            <p style="font-size:14px;line-height:28px;color:#616161;font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif; text-align: center;">
              This verification link will expire in 15 minutes.
            </p>
            <br>
          <center>
            <a href="{{ verification_link }}" style="text-decoration: none; color: inherit;">
              <button style="font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;font-size: 14px;background:#fb8c00;color:#fff;letter-spacing:0.5px;border-radius:2px;display:inline-block;padding:10px 14px;text-decoration:none;font-weight:500; border: none; " type="submit">VERIFY EMAIL</button>
            </a>
          </center>
          <br>
          <br>
          <p style="font-size:14px;line-height:28px;color:#616161;font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">
            <br><br>
            Thank you for choosing StudySync for your educational journey. If you have any questions or need assistance, feel free to reach out to our support team at.
            <a href="mailto:support@StudySync.com">support@StudySync.com</a>
            <br>
            Best regards,
            <br>
            The StudySync Team        
          </p>
        </td>
      </tr>
      <tr>
      </tr>
    </tbody>
  </table>
</center>
