<center>
    <table style="margin-top:24px;width:570px;background-color:#fff;color:#424242;text-align:left;border:1px solid #e0e0e0;border-radius:8px;border-spacing:0px;overflow:hidden">
      <tbody>
        <tr style="line-height:48px">
          <td>
            <a style="text-decoration:none;display:inline-block">
              <img align="left" src="https://voheiassets.azurewebsites.net/images/logo-mail.png" style="margin:16px 0 0 16px">
            </a>
          </td>
        </tr>
        <tr>
          <td style="padding:0 24px 30px">
            <h1 style="font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;font-weight:500;">Confirm your mail</h1>
            <p style="font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;font-size:18px;line-height:28px">
              Hi <b style="font-weight:500;">qtCrybaby</b>,
              Thank you for supporting Vohei.com!
              <br>
              Please click the following link to complete the email verification process:
            </p>
            <center>
              <a href="{{ verification_link }}" style="text-decoration: none; color: inherit;">
                <button style="font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;font-size: 14px;background:#fb8c00;color:#fff;letter-spacing:0.5px;border-radius:2px;display:inline-block;padding:10px 14px;text-decoration:none;font-weight:500; border: none; " type="submit">VERIFY EMAIL</button>
            </a>


            </center>
            <br>
            <br>
            <p style="font-size:14px;line-height:28px;color:#616161;font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">
              Verification link (URL) not working? Please copy and paste the Verification link below into your web browser address bar and try again.<br> <a>https://localhost:44392/<wbr>webmethods/User.aspx/<wbr>VerifyEmail?vc=</a>
            </p>
          </td>
        </tr>
        <tr>
          <td style="border-top:1px solid #eee;padding:8px;font-size:11px;color:#999999;font-family:Roboto,RobotoDraft,Helvetica,Arial,sans-serif;font-weight:400">
            You have received this email because of your newsletter settings, if you want to change these settings <a>click here</a>.
          </td>
        </tr>
      </tbody>
    </table>
  </center>