
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
    <title>Login | StudySync</title>
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/login_signup.css' %}">
</head>
<body>
    <div class="container" style="margin: 150px auto 0px; border-radius: 10px; box-shadow: 0px 0px 10px #c9c9c9;">
        <div class="back-box box1"></div>
        <div class="back-box box2"></div>
        <div id="particleGenerator"></div>
        <form id="userForm" style="text-align: center; padding: 10px 20px 0px; background: transparent;margin: 0px auto;">
            <p class="login">Login</p>
            <p>
                <input type="text" id="email" name="email" class="email">
                <label for="email"><span>Email or Username</span></label>
            </p>
            <p>
                <input type="password" id="password1" name="password1" class="password1">
                <label for="email"><span>Password</span></label>
                <a style="float: left; margin-left: 10px;" href="/Forgot_Password">Forgot password?</a>
            </p>
    

    
            <div style="display: flex; width: 100%; align-items: baseline; justify-content: space-between; margin-top: 10px;">
                <button type="submit" style="width: 100%;" id="login-btn" class="btn">Login</button>
            </div>
            <p style="text-align: left; margin: 10px 10px;">Don't have an account? <a href="/register">Create New</a></p>
            
        </form>
        {% load socialaccount %}
        <div class="signup-options" id="google-sign-in-button">
            <p style="margin: 0px 15px 10px;" class="backline"><span style="background-color: white; padding: 0px 5px;">Or continue with</span></p>
            <a href="{% provider_login_url 'google' %}?next=/" style="display: inline-block; color: white; margin-bottom: 10px;">
                <img src="/static/images/google-icon.png" width="15px" style="margin-bottom: 10px;" class="image-container">
            </a>
        </div>
    </div>
    <div class="container">
    </div>
</body>
<!-- snackbar -->
<!-- The actual snackbar -->
<div id="snackbar">
    <span id="snackbar-text"></span>
</div>

<!-- Snackbar -->
    <script src="{% static '/js/snackbar.js' %}" async defer></script>
    <link rel="stylesheet" href="{% static '/css/snackbar.css' %}">

    <script>
        window.addEventListener('load', function(){
             // prevent default forms
           // prevent refresh on submit
           // form1
           let formRef=document.getElementById("userForm");
           function handleForm(event) { event.preventDefault(); } 
           formRef.addEventListener('submit', handleForm);

    
           const registerbtn=document.getElementById('login-btn');
           registerbtn.addEventListener('click', async function(){
               let email=document.getElementById('email').value
               let password=document.getElementById('password1').value
               data={'email': email, 'password1': password}
            //    data.append('email', email)
            //    data.append('password1', password)
               if(email.length==0){
                showFailSnackbar("please fill in email or username",'fail')
               }
               else if(password.length==0){
                showFailSnackbar("please fill in password",'fail')
               }else{
                console.log(data)
                   // send post request
                   const res=await fetch('/login/',{
                    method:'POST',
                    body: JSON.stringify(data),
                    headers: {
                       'X-CSRFToken': getCookie('csrftoken')
                    }}).then(res=>{
                        console.log(res);
                        if(!res.ok){
                            showFailSnackbar("login failed", "fail")
                        }else{
                            return res.json()
                        }
                    }).then(data=>{
                        localStorage.setItem("token", data.token);
                        window.location.href=data.redirect;
                    });
               }
           })
        })
    </script>
</html>


<!-- particals javascript -->
<script>
    function beginTransition() {
	var title = document.getElementById('theTitle');
	var input = document.getElementsByClassName('inputBox');
	var names = document.getElementsByClassName('name');
	var button = document.getElementsByClassName('submitButton');
	var bg2 = document.getElementById('bg2');
	setTimeout(function() {
		title.style.opacity = 0;
		title.style.right = "80%";
	}, 100);
	setTimeout(function() {
		names[0].style.opacity = 0;
		names[0].style.right = "80%";
		bg2.style.opacity = 1;
	}, 200);
	setTimeout(function() {
		input[0].style.opacity = 0;
		input[0].style.right = "80%";
	}, 300);
	setTimeout(function() {
		names[1].style.opacity = 0;
		names[1].style.right = "80%";
	}, 400);
	setTimeout(function() {
		input[1].style.opacity = 0;
		input[1].style.right = "80%";
	}, 500);
	setTimeout(function() {
		button[0].style.opacity = 0;
		button[0].style.right = "80%";
	}, 600);
	setTimeout(function() {
		var mes = document.getElementById('mesOut');
		mes.style.visibility = "visible";
		mes.style.opacity = 1;
		mes.style.top = "40%";
	}, 1000);
}

function getRandomInt(min, max) {
  return Math.floor(Math.random() * (max - min)) + min;
}

function particlesInit() {
	var generator = document.getElementById("particleGenerator");
	var particleCount = 200;
	for (var i = 0; i < particleCount; i++) {
		var size = getRandomInt(2, 6);
		var n = '<div class="particle" style="top:' + getRandomInt(15, 95) + '%; left:' + getRandomInt(5,95) + '%; width:'
		+ size + 'px; height:' + size + 'px; animation-delay:' + (getRandomInt(0,30)/10) + 's; background-color:rgba(246,129,33,255);"></div>';
		var node = document.createElement("div");
		node.innerHTML = n;
		generator.appendChild(node);
	}
}

particlesInit();
</script>