{% extends "base/base.html" %}
{% load static %}
{% block content %}

<style>
    body{
        background-color: white;
    }
    *{
        margin: 0px;
        padding: 0px;
    }
    .main-container{
        position: relative;
        top: 72px;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .inside-container{
        display: grid;
        grid-template-columns: 30% 70%;
        width: 80%;
        height: 80vh;
        box-shadow: 0px 0px 10px #b9b8b8;
        border-radius: 10px;
    }
    #refresh{
        position: relative;
        top: -7%;
        left: 74%;
    }
    .outside-info{
        margin: 50px 0px;
        border-right: 2px solid #b9b8b8;
    }
    .info{
        padding: 50px 20px;
        text-align: center;
    }
    .info img, .show img{
        border-radius: 50%;
    }
    .navs{
        padding: 12px 6px;
    }
    .navs ul{
        list-style: none;
        display: flex;
        gap: 20px;
    }
    .navs ul li{
        padding: 5px 20px;
        color: black;
        border-radius: 10px;
    }
    li.selected{
        background-color: darkorange;
    }
    .content-div{
        display: none;
        height: 68vh;
    }
    .content-div.show{
        display: flex;
        padding-top: 20px;
        /* text-align: center; */
        justify-content: center;
        align-items: center;
    }
    form{
        text-align: center;
    }
    .show input{
        margin: auto;
        height: 4rem;
    }
    #refresh{
        display: none;
    }
    .profile-pic {
        width: 100%;
        max-height: 100%;
        display: inline-block;
    }

    .file-upload {
        display: none;
    }
    .circle {
        border-radius: 100% !important;
        overflow: hidden;
        width: 128px;
        height: 128px;
        border: 2px solid rgba(255, 255, 255, 0.2);
        /* position: absolute; */
        /* top: 72px; */
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .p-image {
    position: relative;
    top: -23px;
    right: 30px;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    }
    .p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    }
    .upload-button {
        cursor: pointer;
    font-size: 1.2em;
    }

    .upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #999;
    }
    .p-photo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .profile-photo{
        height: 150px !important;
        width: 150px !important;
    }
    @media screen and (min-width: 320px) and (max-width: 768px){
        .inside-container{
            display: block;
            height: 100%;
            margin-top: 60px;
        }
        .outside-info{
            margin: 0px;
            border: none;
        }
        .info{
            padding: 20px;
        }
        ul{
            margin: 0px;
        }
        .content-div{
            height: 100%;
        }
        .navs ul{
            display: flex;
            justify-content: space-evenly;
        }
        .navs ul li{
            padding: 5px 10px;
        }
        .main-container{
            height: 85%;
        }
        .change-password{
            padding-top: 50px !important;
        }
    }
</style>

<!-- profile section -->
<div class="main-container">
    <div class="inside-container">
        <div class="outside-info">
            <button id="refresh">↻</button>
            <div class="info">
                <img class="profile-photo">
                <p id="name"></p>
                <p class="emailfield"></p>
                <p>User ID: <span id="userid"></span></p>
                <button id="delete-profile-btn">Delete Profile</button>
            </div>
        </div>
        <div class="action-divs">
            <div class="navs">
                <ul>
                    <li class="nav1-label">
                        <p  class="nav1" id="edit-profile">Edit Profile</p>
                    </li>
                    <!-- <li class="nav2-label">
                        <p class="nav2" id="settings">Settings</p>
                    </li> -->
                    <li class="nav3-label">
                        <p class="nav3" id="change-password">Change Password</p>
                    </li>
                </ul>
            </div>
            <div class="content-div edit-profile">
                <form id="form1">
                    <div>
                        <div class="p-photo">
                            <div class="circle">
                              <img class="profile-photo profile-pic">
                            </div>
                            <div class="p-image">
                              <i class="fa fa-camera upload-button"></i>
                               <input class="file-upload" type="file" accept="image/*"/>
                            </div>
                         </div>
                    </div>
                    <div>
                        <label>
                            <input type="text" id="firstname" placeholder="First Name" required>
                        </label>
                        <label>
                            <input type="text" id="lastname" placeholder="Last Name">
                        </label>
                        <label>
                            <input type="text" id="username1" placeholder="Username" required>
                        </label>
                    </div>
                    <label>
                        Email: <span class="emailfield"></span>
                    </label>
                    <label>Date Joined: <span id="datejoined"></span></label>
                    <button type="submit" id="edit-profile-btn">Apply Changes</button>
                </form>
            </div>
            <div class="content-div change-password">
                <form id="form2">
                    <label>
                        Current Password:
                        <input type="text" id="currpwd" autocomplete="off" required>
                    </label>
                    <label>
                        New Password:
                        <input type="text" id="newpwd1" autocomplete="off" required>
                    </label>
                    <label>
                        Confirm Password:
                        <input type="text" id="newpwd2" autocomplete="off" required>
                    </label>
                    <button type="submit" id="change-pwd-btn" style="margin-top: 20px;">Change Password</button>
                </form>
            </div>
            <div class=""></div>
            <div class=""></div>
        </div>
    </div>
</div>
<!-- snackbar -->
<!-- The actual snackbar -->
<div id="snackbar">
    <span id="snackbar-text"></span>
</div>

<script>
    const refreshbtn=document.getElementById('refresh');
    window.addEventListener('load', async function(){
        // fetch details
        const res=await fetch('/get-user-details').then(res=>res.json())??[];
        document.getElementById('name').innerHTML=(res[0]['firstname']+" "+res[0]['lastname'])??res[0]['username']
        document.getElementById('userid').innerHTML=res[0]['userid']
        document.getElementById('firstname').value=res[0]['firstname']
        document.getElementById('lastname').value=res[0]['lastname']
        document.getElementById('username1').value=res[0]['username']
        document.getElementById('datejoined').innerHTML=res[0]['datejoined']
        const emailfields=document.getElementsByClassName('emailfield');
        for (var i=0; i<emailfields.length; i++){
            emailfields[i].innerHTML=res[0]['email']
        }

        const editprofilebtn=document.getElementById('edit-profile');
        editprofilebtn.click()
    
        // prevent default forms
        // prevent refresh on submit
        // form1
        var form = document.getElementById("form1");
        function handleForm(event) { event.preventDefault(); } 
        form.addEventListener('submit', handleForm);
        // form2
        var form = document.getElementById("form2");
        function handleForm(event) { event.preventDefault(); } 
        form.addEventListener('submit', handleForm);
    
        const edit_profile_btn=document.getElementById('edit-profile-btn');
        edit_profile_btn.addEventListener('click', async function(){
            var data = new FormData()
            data.append('firstname', document.getElementById('firstname').value)
            data.append('lastname', document.getElementById('lastname').value)
            data.append('username', document.getElementById('username1').value)
            data.append('profile-photo', document.querySelector('input[type="file"]').files[0])
            // send post request
            const res=await fetch('/edit-profile/',{method:'POST', body: data,headers: {
                'X-CSRFToken': getCookie('csrftoken')}}).then(res=>res.json())??[];
    
            // refresh all fields
            // got response
            if(res[0].result=="success"){
                showSuccessSnackbar(res[0].response, res[0].result)
                form.reset()
                refreshbtn.click()
            }else{
                showFailSnackbar(res[0].response, res[0].result)
            }
        })
        
        const change_pwd_btn=document.getElementById('change-pwd-btn');
        change_pwd_btn.addEventListener('click', async function(){
            var data = new FormData()
            data.append('currpwd', document.getElementById('currpwd').value)
            data.append('newpwd1', document.getElementById('newpwd1').value)
            data.append('newpwd2', document.getElementById('newpwd2').value)
            // send post request
            const res=await fetch('/change-password/',{method:'POST', body: data,headers: {
                'X-CSRFToken': getCookie('csrftoken')}}).then(res=>res.json())??[];
    
            // refresh all fields
            // got response
            if(res[0].result=="success"){
                showSuccessSnackbar(res[0].response, res[0].result)
                form.reset()
                refreshbtn.click()
            }else{
                showFailSnackbar(res[0].response, res[0].result)
            }
            
        })
        
        const deleteprofilebtn=document.getElementById('delete-profile-btn');
        deleteprofilebtn.addEventListener('click', async function(){
            const res=await fetch('/delete-profile/',{method:'POST',headers: {
                'X-CSRFToken': getCookie('csrftoken')}}).then(res=>res.json())??[];
            // refresh all fields
            // got response
            if(res[0].result=="success"){
                alert("Your profile has been deleted.")
                window.addEventListener('load', async function(){
                    setTimeout('', 2000);
                    window.location.replace('/login')
                })
                // showSuccessSnackbar(res[0].response, res[0].result)
            }else{
                showFailSnackbar(res[0].response, res[0].result)
            }
        })
    })
    refreshbtn.addEventListener('click', async function(){
        window.location.replace('/profile')
    })
    $(document).ready(function(){
        $('.nav1').click(function(){
            $('.nav1-label').addClass('selected').siblings().removeClass('selected');
            $('.edit-profile').addClass('show').siblings().removeClass('show');
        });
        $('.nav2').click(function(){
            $('.nav2-label').addClass('selected').siblings().removeClass('selected');       
            // $('.change-password').addClass('show').siblings().removeClass('show');
        });
        $('.nav3').click(function(){
            $('.nav3-label').addClass('selected').siblings().removeClass('selected');       
            $('.change-password').addClass('show').siblings().removeClass('show');
        });
    });

    // profile photo
    $(document).ready(function() {
        var readURL = function(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.profile-pic').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        $(".file-upload").on('change', function(){
            readURL(this);
        });

        $(".upload-button").on('click', function() {
        $(".file-upload").click();
        });
    });

</script>

{% endblock content %}

